.content{
  padding: 0 100px;
  
}
.blog-item{
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 16px;
  transition: .3s ease all;
  a{
    text-decoration: none;
  }
  h2{
    color: #f1356d;
  }
  p{
    color: #777;
  }
  &:hover{
    box-shadow: 1px 3px 5px rgba($color: #000000, $alpha: .2);
  }
}

form{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  *{
    margin-bottom: 20px;
  }
  input[type='text']{
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  }
  textarea{
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    border: none;
    height: 100px;
  }
  select{
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    border: none;
  }
  button{
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    border: none;
    background-color: #f1356d;
    color: #fff;
    font-size: 18px;
  }
}